div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br><br><br>
      <%= form_for resource, as: resource_name, url: new_event_path, html: { class: "form-signin mt-3" } do |f| %>
        <h1 class="h3 mb-3 font-weight-normal text-center">Créer un event</h1>
        <%= devise_error_messages! %>
        <div class="form-group">
          <%= f.label :start_date, "Date de commencement" %><br />
          <%= f.datetime :start_date, autofocus: true, class: "form-control" %>
        </div>
        <div class="form-group">
        <%= f.label :duration, "Durée" %><br />
        <%= f.number :duration, autofocus: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :title, "Titre" %><br />
          <%= f.text_field :title, autofocus: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :description, "Description" %><br />
          <%= f.text_field :description, autofocus: true, autocomplete: "description", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :price, "prix" %><br />
          <%= f.number :price, autofocus: true, class: "form-control" %>
        </div>
        <div class="actions mt-5">
          <%= f.submit "créer un nouvel évènement", class: "btn btn-lg btn-primary btn-block" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>