<br/><br><br>
<center>
<h1> Oh le bel évènement ! <h1/>
<div class="row justify-content-center">
      <div class="card m-3" style="width: 30rem;">
        <div class="card-body">
        <h5> <%= current_event.title %></h5>
        <br/>
        <h6> <%= current_event.description %></h6>
        <br/>
        <h6> <%= current_event.location %></h6>
        <h6> <%= current_event.duration %> minutes </h6>
        <h6> <%= current_event.price %> $ </h6>
        <h6> <%= current_event.organizer %> </h6>
          
        </div>
     </div>
    </div>

